<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'bar.jfif' %>');">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>Mind-blowing cocktails for your nightlife</p>
    <%= link_to new_cocktail_path, class: "btn btn-primary btn-lg" do %>
      <i class="fas fa-plus"></i> Create a cocktail
    <% end %>
  </div>
</div>

<div class="container">
  <h1>Cocktail List</h1>
  
  <% @cocktails.each do |c| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to c.name, cocktail_path(c) %>
    </div>
  <% end %>

</div>
