<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'bar.jfif' %>');">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>Classy cocktails for your nightlife</p>
    <%= link_to new_cocktail_path, class: "btn btn-primary btn-lg" do %>
      <i class="fas fa-plus"></i> Create a cocktail
    <% end %>
  </div>
</div>

<div class="conatiner">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/images/whisky_sour.jfif')">
          <div class="card-description">
            <h2><%= c.name %></h2>
          </div>
          <%= link_to "", cocktail_path(c), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
