<div class="container">
  <h1>New Cocktail</h1>
  <%= render 'form', cocktail: @cocktail %>
  
  <%= link_to cocktails_path do %>
    <i class="fas fa-undo-alt"></i> Back to cocktail list
  <% end %>
</div>
