<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%# <p>Ingredients:</p>
  <% @cocktails.ingredients.each do |i| %>
    <%# <ul> %>
      <%# <li> %>
        <%# <%= i.name %> 
      <%# </li> %>
    <%# </ul> %>
  <%# <% end %> 

  <p><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %></p>
  <p><%= link_to "Back to cocktail list", cocktails_path %></p>
</div>